<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<script type="text/javascript" src="public/lib/dygraph/dygraph.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/lib/dygraph/dygraph.css">
</head>
<body>

<!-- 	<h3><%= JSON.stringify(results) %></h3> -->

	<div id="dygraph-container"></div>

	<script type="text/javascript">
//		const g = new Dygraph(
//			document.getElementById('dygraph-container'),
//
//		)
	</script>

</body>
</html>