body {

}

#dygraph-container {
	width: 100%;
	height: 700px;
}

#graph-controls {
	display: flex;
	padding: 1rem;

	input[type="radio"],
	select {
		margin-right: 1rem;
	}
}

.dygraph-legend {
	left: 70px !important;
}

